/* Fonts */
@font-face {
    font-family: 'Peach Cake';
    src: url('fonts/Peach\ Cake.otf') format('woff'); 
  }


@font-face {
    font-family: 'Adelia';
    src: url('fonts/ADELIA.otf') format('woff'); 
  }


/* Navigation Bar  Section */
.navbar{
    font-weight: bold;
    background-color:  #000000;
    font-family: 'Roboto Mono';
}

.navbar a {
    padding-right: 50px;
    color: #FFDC49;
    font-family: 'Roboto Mono';
}

.navbar a:hover{
    color: #ffffff;
}

#navbar_logo{
    color: #FFDC49;
    padding-left: 20px;
    font-family: 'Roboto Mono';
}


/* Home Section */
.home{
    height: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #070e73;
    padding-top: 50px;
}


.home h1{
    text-align: center;
    font-size: 8vw;
    padding-top: 8rem;
    padding-bottom: 2rem;
    margin: 0;
    color: #FFDC49;
    font-family: 'Peach Cake';
    font-family: 'Adelia';
}

.home h3{
    font-family: 'Roboto Mono';
    font-size: 3vw;
    color:  white;
    margin-bottom: 40px;
}

.home button{
    font-family: 'Roboto Mono';
    background-color: #FFDC49;
    padding: 15px 30px;
    margin-bottom: 40px;
    font-size: 15px;
}


/* Contact Me Section */
.contact-me{
    background-color:  #000000;
    height: 500px;
    display: flex;
}

.contact-me label{
    color: #FFDC49;
    font-weight: bold;
    font-family: 'Roboto Mono';
}

.btn-primary {
    margin-top: 10px;
    font-family: 'Roboto Mono';
    background-color: #FFDC49;
}

form{
    width: 60%;
    padding: 20px 20px;
}

.contact-me-info h3{
    font-family: 'Roboto Mono';
    color: #FFDC49;
    padding-top: 20px;
}

.contact-me-info p{
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width (typically tablets) */
    h1{
        font-size: 80px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width (typically smartphones) */
    h1{

    }
  }
  