/* Add a custom background color for the navbar */
.custom-navbar {
    background-color: #215838; /* Pink color */
}

.navbar-brand {
    color: #ff70bf; /* Text color for the brand/logo */
    font-size: 1.5rem; 
    font-weight: bold;
    font-family: 'DM Serif Display';
}

.nav-link {
    color: #ff70bf;  /* Text color for the navigation links */
    font-weight: bold;
    font-size: 1rem; 
}

/* Hover effect for the navigation links */
.nav-link:hover {
    text-decoration: underline; /* Underline on hover */
    color: #ffffff;
}

/* Sections */
#beginning, #about, #projects, #contact{
    width: 100vw; /* Set the width to 80% of the viewport width */
    height: 85vh; /* Set the height to 50% of the viewport height */
}

/* beginning */

#beginning{
    padding: 50px;
    background-color: #215838;  
}

#beginning h2{
    color: #ff70bf;
    font-weight: bold;
    font-family: 'DM Serif Display';
    font-size: 5rem; 
    text-align: center;
    padding-top: 10rem;
}

#beginning p{
    color:  #ffffff;
    font-size: 2.5rem; 
    text-align: center;
    font-family: Montserrat;
}

#beginning button{
    background-color:#ff70bf;
    color: #ffffff;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-left: 37rem;
}

/* About Me Section*/
#about{
    height: 95vh; 
    padding-right: 3rem;
}

#about h2{ 
    padding-top: 2rem; 
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color:  #ff70bf; 
    font-family: 'DM Serif Display';
}

#about p, ul {
    font-size: 25px;
    font-family: Montserrat;
}
/* Projects Section */
#projects{
    background-color:  #215838;
    box-sizing: border-box;
    padding-left: 2rem;
    height: 95vh;
}

#projects h2 { 
    color: #ff70bf;
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 70px;
    padding-top: 2rem; 
    text-align: center;
}

.btn-green{
    background-color: #ff70bf;
    color: #215838;
}

/* Contact Me Section */
#contact{
    height: 50vh;
    padding-left:5rem;
}

#contact h2 { 
    padding-top: 2rem; 
    text-align: center;
    font-weight: bold;
    color: #ff70bf;
    font-family: 'DM Serif Display';
    font-size: 70px;
}
#contact a{ 
    margin-bottom: 5rem;
}

form div{
    padding-bottom: 1rem;
}

#contact p{
    font-family: Montserrat;
    font-size:20px;
}

.fa-linkedin {
    background:#ff70bf;
    color: white;
    font-size: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
  }

  #contact .contact-details{
    padding-right: 5rem;
  }